{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" type="text/css" />
{% endblock %}

{% block main %}
<div class="card center">
    <div class="row top-info">
        <img class="card-img-top pro_img" src="{{ url_for('static', filename='profile_photo/'+user.photo) }}"/>
        <div class="col">
            <span class="blk">{{user.firstname+" "+user.lastname}}</span>
            <span class="blk">{{user.email}}</span>
            <span class="blk">{{user.location}}</span>
            <span class="blk">Joined on {{user.created_on}}</span>
        </div>
    </div>
<div class="card-body">
        <h5 class"card-title">About me</h5>
        <p calss="card-text">{{ user.bio }}</p>
        <div class="btn-container">
            <a href="#" class="center col-md-6 btn btn-success">Send messaage</a>
            <a href="#" class="center col-md-6 btn btn-primary">Follow</a>
        </div>
    </div>
</div>
{% endblock %}